<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
     <!--
     <add key="m_szHostName" value="149.5.42.144"/>
     -->
    <add key="m_szHostName" value="149.5.42.144" />
    <!--
    var g_szHttpPort = "80" //Defualt Value;  
    //当前http方式的端口，不包括https
    //Port of the current http way, does not include https
    -->
   <add key="g_szHttpPort" value="4699" />
    <!--
    //Port of current camera at which it listens every request.
   -->
    <add key="m_lHttpPort" value="4699" />

    <!--
    //Add User Credentials Information in the form of 64bit encoding.
   -->
    <add key="m_szUserPwdValue" value="YWRtaW46MTIzNDU=" />
    <!-- 
  //m_lRtspPort
  -->
    <add key="m_lRtspPort" value="9100" />

    <!--
     <add key="m_szHostName" value="149.5.42.144"/>
     -->
    <add key="m_szHostNameGlobal" value="149.5.42.144" />
    <!--
    var g_szHttpPort = "80" //Defualt Value;  
    //当前http方式的端口，不包括https
    //Port of the current http way, does not include https
    -->
    <add key="m_lHttpPortGlobal" value="2993" />

    <add key="MacAddress" value="004048D4650F" />
    <add key="MacAddressGlobal" value="8CE748B93C77" />
    <!-- <add key="MacAddressGlobal" value="004048A699A8"/>-->
    


  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />

  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />

      </customHeaders>
    </httpProtocol>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
  </system.webServer>

  <system.serviceModel>

    <bindings>
      <webHttpBinding>

        <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>

    </behaviors>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />-->
  
  </system.serviceModel>


</configuration>
