body 
{ 
    width:100%;
	height:100%;
}
.container
{
    width:712px;
	position:relative;
	top:50%;
	margin:0 auto;
}
.loginpart
{
	width:712px;
	height:341px;    
	position:absolute;
	top:-170px;
}
.loginleft
{
    float:left;
	width:390px;
	height:341px;
	background:url(../images/login/login_left.gif);
}
.logo
{
    width:120px;
	height:27px;
	position:absolute;
	left:10px;
	top:10px;
	background:url(../images/login/logo.gif) no-repeat;
}
.loginright
{
    float:left;
	width:322px;
	height:341px;
	background:url(../images/login/login_right.gif);
}
.languagepart
{
    position:absolute;
	top:10px;
	right:9px;
	z-index:9;
}
.languageshow
{
	width:90px;
	height:20px;
	padding-left:10px;
	line-height:20px; 
	cursor:pointer; 
	background:#fff url(../script/menu/expanded.gif) no-repeat 97% 50%;
	border:1px solid #d8d8d8; 
}
.languagechange
{
    display:none;
	width:100px;
	background:#fff;
	height:105px;
	border: 1px solid #c1c1c1; 
	overflow-y:auto;
	overflow-x:hidden;
}
.mouseoverlan
{
    width:90px;
	padding-left:10px;
	height:20px; 
	line-height:20px;
	cursor:pointer;
	background:#f5f3f3;
}
.mouseoutlan
{
    width:90px;
	padding-left:10px;
	height:20px;
	line-height:20px; 
	cursor:pointer;  
}
.loginbar
{
    width:280px;
	height:100px;
	position:absolute;
	top:120px;
	left:411px;
}
.loginlabel
{
    display:inline-block;
	width:110px;
	height:26px;
	line-height:26px;
}
.loginbtn
{
    margin:5px 0 0 110px;
	width:154px;
	height:26px;
	line-height:26px;
	text-align:center;
	cursor:pointer;
	background:url(../images/login/loginnoraml_btn.png) no-repeat;
}
.loginbtnon
{
    margin:5px 0 0 110px;
	width:154px;
	height:26px;
	line-height:26px;
	text-align:center;
	cursor:pointer;
	background:url(../images/login/loginsel_btn.png) no-repeat;
}
.footer
{
	width:712px;
	height:341px;
	text-align:center;    
	position:absolute;
	top:185px;    
}
.checkbox
{
    vertical-align:text-bottom;
    cursor:pointer;
}
.anonymous
{
	padding-left:110px;
	display:none;
}
.logininputwidth {width:150px; font-size:12px;}