<?xml version="1.0"?>
<Events>
	<Common>
		<Page>
			<aBlockAlarm tag="a;" length="9999">Sabotaż</aBlockAlarm>
			<aVideoLost tag="a;" length="9999">Utrata sygnału</aVideoLost>
			<aCapturePlan tag="a;" length="9999">Zrzut</aCapturePlan>
			<aOtherAlarm>Inny alarm</aOtherAlarm>
			<laTimeTabDivBtn tag="label;" length="670">Czas uzbrajania</laTimeTabDivBtn>
			<laLinkageTabDivBtn tag="label;" length="670">Powiązanie</laLinkageTabDivBtn>
			<laSensitivity tag="label;" length="85">Czułość</laSensitivity>
			<!--<laCommonLinkage>Alarm Linking</laCommonLinkage>-->
			<!--DVR的，需要修改DVR网页name-->
			<laNormalLink tag="label;" length="215">Powiązanie zwykłe</laNormalLink>
			<laMonitorAlarm>Podgląd w pełnym oknie</laMonitorAlarm>
			<laSoundAlarm tag="label;" length="130">Ostrzeżenie dźwiękowe</laSoundAlarm>
			<laUpload tag="label;" length="130">Powiadom centrum monitoringu</laUpload>
			<laEmail tag="label;" length="130">Wysłano e-mail</laEmail>
			<laLinkageAlarmOutput tag="label;" length="116">Wyzwolenie wyjścia alarm.</laLinkageAlarmOutput>
			<laScheduleEdit tag="label;">Ustaw harmonogram</laScheduleEdit>
			<laOtherLink tag="label;" length="271">Inne powiązania</laOtherLink>
			<BlockSensitiveOpt1>Niska</BlockSensitiveOpt1>
			<BlockSensitiveOpt2>Średnia</BlockSensitiveOpt2>
			<BlockSensitiveOpt3>Wysoka</BlockSensitiveOpt3>
			<laAlarmname tag="label;" length="150">Nazwa alarmu</laAlarmname>
			<laCopyalarm tag="label;" length="670">Skopiuj do alarmu</laCopyalarm>
			<laTrigglerecord tag="label;" length="130">Kanał wyzwalania</laTrigglerecord>
			<laUpdateToFTP tag="label;" length="130">Wgraj na FTP</laUpdateToFTP>
		</Page>
		<Js>
		</Js>
		<General>
			<laCaptureInterval tag="label;" length="100">Interwał</laCaptureInterval>
		</General>
	</Common>
	<MotionDetection>
		<Page>
			<laUseMotion tag="label;" length="133">Włącz detekcję ruchu</laUseMotion>
			<laHighLight>Uaktywnij dynamiczną analizę ruchu</laHighLight>
		</Page>
		<Js>
		</Js>
	</MotionDetection>
	<TamperProof>
		<Page>
			<laUseKeepout tag="label;" length="671">Włącz detekcję sabotażu wideo</laUseKeepout>
		</Page>
		<Js>
		</Js>
	</TamperProof>
	<VideoLoss>
		<Page>
			<laUseVideoLost tag="label;" length="671">Włącz detekcję utraty wizji</laUseVideoLost>
		</Page>
		<Js>
		</Js>
	</VideoLoss>
	<AlarmInput>
		<Page>
			<DVR>
				<laSpanTitle>Ustawienia wejść alarmu</laSpanTitle>
			</DVR>
			<laAlarminnumber tag="label;" length="150">Nr we alarm.</laAlarminnumber>
			<laAlarmtype tag="label;" length="150">Rodzaj alarmu</laAlarmtype>
			<triggeringOpt1 tag="option;" length="198">NZ</triggeringOpt1>
			<triggeringOpt2 tag="option;" length="198">NO</triggeringOpt2>
			<laTriggleptz tag="label;" length="212">Powiązanie PTZ</laTriggleptz>
			<laPresetnumer tag="label;" length="100">Nr zapr. ust.</laPresetnumer>
			<laCurisenumber tag="label;" length="100">Nr patrolu</laCurisenumber>
			<laTrackid tag="label;" length="100">Nr trasy</laTrackid>
		</Page>
		<Js>
		</Js>
	</AlarmInput>
	<AlarmOutput>
		<Page>
			<DVR>
				<laSpanTitle>Ustawienia wyjść alarmowych</laSpanTitle>
			</DVR>
			<laAlarmoutnumber tag="label;" length="150">Wyjście alarmowe</laAlarmoutnumber>
			<laDefaultstate tag="label;" length="150">Stan domyślny</laDefaultstate>
			<defaultStateOpt1 tag="option;" length="198">Poziom wysoki</defaultStateOpt1>
			<defaultStateOpt2 tag="option;" length="198">Poziom niski</defaultStateOpt2>
			<laTrigglestate tag="label;" length="150">Stan wyzwalania</laTrigglestate>
			<outputState1 tag="option;" length="198">Tryb pulsowania</outputState1>
			<pulseDurationOpt1 tag="option;" length="198">5s</pulseDurationOpt1>
			<pulseDurationOpt2 tag="option;" length="198">10s</pulseDurationOpt2>
			<pulseDurationOpt3 tag="option;" length="198">30s</pulseDurationOpt3>
			<pulseDurationOpt4 tag="option;" length="198">1min</pulseDurationOpt4>
			<pulseDurationOpt5 tag="option;" length="198">2min</pulseDurationOpt5>
			<pulseDurationOpt6 tag="option;" length="198">5min</pulseDurationOpt6>
			<pulseDurationOpt7 tag="option;" length="198">10min</pulseDurationOpt7>
		</Page>
		<Js>
		</Js>
	</AlarmOutput>
	<Exception>
		<Page>
			<DVR>
				<laSpanTitle>Wyjątek</laSpanTitle>
			</DVR>
			<laExceptionType tag="label;" length="150">Typ wyjątku</laExceptionType>
			<ExceptionTypeOpt3 tag="option;" length="198">Sieć rozłączona</ExceptionTypeOpt3>
			<ExceptionTypeOpt4 tag="option;" length="198">Konflikt adresów IP</ExceptionTypeOpt4>
			<ExceptionTypeOpt5 tag="option;" length="198">Nieuprawnione logowanie</ExceptionTypeOpt5>
			<ExceptionTypeOpt6>Niezgodność systemów TV</ExceptionTypeOpt6>
			<ExceptionTypeOpt7>Wyjątek sygnału wideo</ExceptionTypeOpt7>
			<ExceptionTypeOpt8>Wyjątek nagrania/przechwytywania</ExceptionTypeOpt8>
			<ExceptionTypeOpt9>Niezgodność w rozdzielczości</ExceptionTypeOpt9>
		</Page>
		<Js>
		</Js>
	</Exception>
	<Email>
		<Page>
			<DVR>
				<laSpanTitle>E-mail</laSpanTitle>
			</DVR>
			<laServerAuthentication tag="label;" length="670">Autoryzacja</laServerAuthentication>
			<laSMTPServer>Serwer SMTP</laSMTPServer>
			<laUseSSL tag="label;" length="670">Włącz SSL</laUseSSL>
			<laMailInterval tag="label;" length="150">Interwał</laMailInterval>
			<MailIntervalOpt1 tag="option;" length="198">2s</MailIntervalOpt1>
			<MailIntervalOpt2 tag="option;" length="198">3s</MailIntervalOpt2>
			<MailIntervalOpt3 tag="option;" length="198">4s</MailIntervalOpt3>
			<MailIntervalOpt4 tag="option;" length="198">5s</MailIntervalOpt4>
			<laAttachment tag="label;" length="314">Załączony obraz</laAttachment>
			<laEmailAdd>Adres e-mail</laEmailAdd>
			<laChooseReceiver tag="label;" length="150">Wybierz odbiornik</laChooseReceiver>
			<laReceiver tag="label;" length="670">Odbiorca</laReceiver>
			<laSender tag="label;" length="670">Od</laSender>
			<ReceiverNumOpt1 tag="option;" length="198">Odbiorca nr 1</ReceiverNumOpt1>
			<ReceiverNumOpt2 tag="option;" length="198">Odbiorca nr 2</ReceiverNumOpt2>
			<ReceiverNumOpt3 tag="option;" length="198">Odbiorca nr 3</ReceiverNumOpt3>
		</Page>
		<Js>
		</Js>
		<General>
			<laSenderName tag="label;" length="150">Od</laSenderName>
			<laSenderAddress tag="label;" length="150">Adres nadawcy</laSenderAddress>
			<laReceiverName tag="label;" length="150">Odbiorca</laReceiverName>
			<laReceiverAddress tag="label;" length="150">Receiver's Address</laReceiverAddress>
			<laReceiverName1 tag="label;" length="150">Odbiorca nr 1</laReceiverName1>
			<laReceiverName2 tag="label;" length="150">Odbiorca nr 2</laReceiverName2>
			<laReceiverAddress1 tag="label;" length="150">Adres odbiorcy 1</laReceiverAddress1>
			<laReceiverAddress2 tag="label;" length="150">Adres odbiorcy 2</laReceiverAddress2>
			<laSMTPPort tag="label;" length="150">Port SMTP</laSMTPPort>
		</General>
	</Email>
	<CapturePlan>
		<Page>
			<laTimingCapture tag="label;" length="670">Czasowo</laTimingCapture>
			<laEventCapture tag="label;" length="670">Wyzwalanie zdarzeniem</laEventCapture>
			<laUseTimingCapture tag="label;" length="651">Włącz zrzut obrazów wyzwalany czasem</laUseTimingCapture>
			<laUseEventCapture tag="label;" length="651">Włącz zrzut obrazów wyzwalany zdarzeniem</laUseEventCapture>
			<laPictureCodecType tag="label;" length="100">Formatuj</laPictureCodecType>
			<laPictureQuality tag="label;" length="100">Jakość</laPictureQuality>
			<laMillisecond>milisekundy</laMillisecond>
			<optionMillisecond tag="option;" length="78">milisekundy</optionMillisecond>
			<optionMinute tag="option;" length="78">minuta</optionMinute>
			<optionHour tag="option;" length="78">godzina</optionHour>
			<laCaptureNum>Numer przechwytywania</laCaptureNum>
		</Page>
	</CapturePlan>
	<OtherAlarm>
		<Page>
			<laEnableWirelessAlarm>Uaktywnij alarm bezprzewodowy</laEnableWirelessAlarm>
			<laEnablePIRAlarm>Uaktywnij alarm czujki PIR</laEnablePIRAlarm>
			<laTriggerWirelessAlarm>Wywołaj alarm bezprzewodowy</laTriggerWirelessAlarm>
			<laLightAudioAlarm>Bezprzewodowy alarm dźwiękowy i świetlny</laLightAudioAlarm>
			<laSelWirelessAlarm>Wybierz alarm bezprzewodowy</laSelWirelessAlarm>
		</Page>
	</OtherAlarm>
</Events>
